<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <link rel="stylesheet" href="../static/css/styles.css"> <!-- Link para o arquivo CSS externo -->
</head>
<body>
    <div class="game-container">
        <h1>Mini Game!</h1>
        <button id="startButton">Start Game</button>
    </div>

    <script>
        // Adicionar funcionalidade ao botão
        document.getElementById('startButton').addEventListener('click', () => {
            alert('Game Started!'); // Exemplo de ação ao clicar no botão
        });
    </script>
</body>
</html>