<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <link rel="stylesheet" href="../static/css/styles.css"> <!-- Link para o arquivo CSS externo -->
</head>
<body>
    <div class="game-container">
        <h1>Mini Game!</h1>
        <button id="startButton">Start Game</button>

        <!-- Área do jogo (inicialmente oculta) -->
        <div id="gameArea" class="hidden">
            <img id="propertyImage" src="../static/images/chile.jpg" alt="Imagem do Imóvel">
            <div class="buttons-container">
                <button id="guessButton1" class="guess-button">R$ 500.000</button>
                <button id="guessButton2" class="guess-button">R$ 750.000</button>
            </div>
        </div>
    </div>

    <script src="../static/js/script.js"></script> <!-- Link para o arquivo JavaScript externo -->
</body>
</html>