<!DOCTYPE html>
<html>
<head>
    <title>Manhattan Sales</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.Default.css"/>
    <link rel="stylesheet" href="../static/css/mapStyle.css">
</head>
<body>
    <!-- Botão no canto superior direito -->
    <button id="gameButton" onclick="irParaGame()">Ir para Mini Game</button>

    <!-- Painel de controle -->
    <div class="control-panel">
        <h3>Filtro de Ano</h3>
        <input type="range" id="yearSlider" min="{{ min_year }}" max="{{ max_year }}" value="{{ min_year }}">
        <span id="yearValue">{{ min_year }}</span>
    </div>
    
    <!-- Mapa -->
    <div id="map"></div>

    <!-- Scripts -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.heat/0.2.0/leaflet-heat.js"></script>
    <script>
        // Passed variables are here so Jinja2 engine can process them before sending the HTML to the browser
        const MIN_YEAR = JSON.parse('{{ min_year }}');
        const MAX_YEAR = JSON.parse('{{ max_year }}');
    </script>
    <script src="../static/js/mapScript.js"></script>
</body>
</html>